/* CSS Document */
/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
        font-family: helvetica, sans-serif;
        position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET CSS*/

/* ======== General Styles ======== */
.btn {
	border-radius: 3px;
	border: 1px solid #587C7C;
	padding: 3px;
	margin: 3px;
	cursor: pointer;
}

.btn-log-in {
        width: -moz-available;
	width: -webkit-available;
        border: none;
}

.btn-add-new {

}

.btn-cloud {
        padding-top: 3px;
}

input {
	border-radius: 9px;
	border: 1px solid #587C7C;
	margin: 2px;
	padding: 2px;
        padding-left: 10px;
        width: 240px;
        display: block;
        margin: 0 auto;
}

.item-list > li{
        overflow: auto;
	padding: 10px;
        border-bottom: 1px solid darkgrey;
}

.item-text{
        float: left;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: -5px;
}

.item-action{
        float: right;
}

/*.item-list > li:nth-child(2n) {
	background: #B3FCFC; 
}*/

.sublist {
        height: 0;
	background: #F5F5F5;
        -webkit-transition: height 0.5s;
        transition: height 0.5s;
}

.sublist li {
	list-style: circle;
	margin-left: 25px;
}

.glyph img {
	height: 10px;
	margin: 0 10px;
}

img:hover{
    opacity: 0.5;
}

.header {
        position: static;
        color: white;
	background: #337c7c;
        width: 100%;
	height: 60px;
        top: 0;
        
        background: #8fc9c9; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #8fc9c9 0%, #337c7c 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8fc9c9), color-stop(100%,#337c7c)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #8fc9c9 0%,#337c7c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #8fc9c9 0%,#337c7c 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #8fc9c9 0%,#337c7c 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #8fc9c9 0%,#337c7c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc9c9', endColorstr='#337c7c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}

.header * {
	float: left;
	margin: 5px;
}

.overlay {
	display: none; /* QUES: does this even need to be here? */
	/*left: 100%;*/
	width: 0;
	overflow: hidden;
}

.show-overlay {
	margin: 5px 0;
	border: 2px solid black;
	box-shadow: 2px 2px 2px darkgrey;
	width: 95%;
	height: 95%;
	-webkit-transition:width 1s; /* For Safari 3.1 to 6.0 */
	transition:width 1s;
}

.hide-overlay {  /* probably need a callback function or something to remove styles after transition */
	width: 0;
	height: 95%;
	margin: 5px 0;
	border: 2px solid black;
	box-shadow: 2px 2px 2px darkgrey;
	-webkit-transition:width 1s; /* For Safari 3.1 to 6.0 */
	transition:width 1s;
}

.show-sublist {

	-webkit-transition:height 1s; /* For Safari 3.1 to 6.0 */
	transition:height 1s;
}

.hide-sublist {

	-webkit-transition:height 1s; /* For Safari 3.1 to 6.0 */
	transition:height 1s;
}


/* ======== Specific Styles ======== */

.btn-dots{
    display: inline;
    float: right;
}

#edit{
    display: inline;
    float: right;
    padding-right: 10px;
}

#edit li{
    display: inline;
    padding-right: 5px;
}

.btn-dropdown{
    display: inline;
    height: 25px;
    width: 25px;
    padding-left: 15px;
    padding-top: 15px;
}
#action-bar {
	position: fixed;
	bottom: 0;
	background: #53A79F;
	width: 100%;
	border-top: 1px solid darkgrey;
	padding: 5px 5px 0;
}

#add-item-btn {
	margin: -15px auto 0;
	/*background: grey;
	border: 1px solid black;*/
	border-radius: 5px 5px 0 0;
	width: 45px;
	height: 50px;
}

#add-item-btn * {
	margin: 10px auto 0;
}

.cloud-icon {
	position: fixed;
	right: 10px;
	bottom: 3px;
}

.form {

}

.form-auth {
	margin: 75px auto;
	width: -moz-max-content;
	width: -webkit-max-content; /* QUES: not sure if this works for webkit */
}


/* ----------- Login View ------------ */
#login{
	background: #8fc9c9; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #8fc9c9 0%, #337c7c 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8fc9c9), color-stop(100%,#337c7c)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #8fc9c9 0%,#337c7c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #8fc9c9 0%,#337c7c 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #8fc9c9 0%,#337c7c 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #8fc9c9 0%,#337c7c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc9c9', endColorstr='#337c7c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 30;
        text-align: center;
}


/* ----------- Signup View ------------ */
#signup {
	background: #8fc9c9; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #8fc9c9 0%, #337c7c 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8fc9c9), color-stop(100%,#337c7c)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #8fc9c9 0%,#337c7c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #8fc9c9 0%,#337c7c 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #8fc9c9 0%,#337c7c 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #8fc9c9 0%,#337c7c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc9c9', endColorstr='#337c7c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 40;
        text-align: center;
}

/* ----------- New Item View ------------ */
#new-item {
	background: white;
	position: absolute;
	/*height: 100%;*/
	top: 0;
	z-index: 20;
}

/* ----------- Word Cloud View ------------ */
#wordcloud {
	background: white;
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 10;
}